{% extends 'order/base.html' %}

{% block content %}
<div class="placeholder-main">
  <div class="title">Корзина покупок</div>
  <div class="cart-table">
  <table class="cart">

    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                {% if product.photo %}
                <img class="cart-img" src="{{ product.photo.url }}">
                {% endif %}
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form   action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input class="cart-order" type="submit" value="Обновить">
                {% csrf_token %}
              </form>
            </td>
            <td><button class="cart-remove" ><a style="font-size:25px;" class="order-link" href="{% url 'cart:cart_remove' product.id %}">Удалить</a></button></td>

            <td class="num">{{ item.total_price }}р</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="num">
        <td>Всего</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }}р</td>
      </tr>
    </tbody>
  </table>
    </div>
  <div class="cart-after">
  <p class="text-right">
    <button class="cart-order" ><a href="#" class="order-link">Оформить заказ</a></button>
  </p>
</div>

  </div>
{% endblock %}