{% extends 'order/base.html' %}

{% block content %}
<div class="placeholder-main">
<form method="post">
    {% csrf_token %}
    {% for f in form %}

    <p class="login_form"><label for="{{ f.id_for_label }}">{{f.label}}: </label>{{f}}</p>
    <p>{{f.errors}}</p>
    {%endfor%}

    <button id="post-order" type="submit">Войти</button>
</form>
<p class="pizza-desc">Нет аккаунта - <a class="order-link" style="color:rgb(240, 128, 128)" href="{% url 'register' %}">Зарегистрироваться</a></p>
</div>

{% endblock %}